body {
    font-family: Arial, sans-serif;
    margin: 20px;
    cursor: default;
}

h1 {
    color: #333;
}

#file-list {
    margin-top: 20px;
}

.file button {
    background-color: hsl(216, 70%, 60%);
    color: white;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 2.5px;
}

.file button.delete {
    background-color: hsl(0, 70%, 60%);
}

.file button:hover {
    background-color: hsl(216, 70%, 70%);
}

.file button.delete:hover {
    background-color: hsl(0, 70%, 70%);
}

#nav {
    margin: 10px 0;
}

#nav input {
    width: 300px;
    padding: 5px;
    margin-right: 5px;
}

.file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.file:hover {
    background-color: #f5f5f5;
}